/**
 * @section clearing methods
 */

/* (en) clearfix method for clearing floats */
.clearfix:after {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

/* (en) essential for Safari browser !! */
.clearfix {
	display: block;
}

/* (en) alternative solution to contain floats */
.floatbox {
	overflow: hidden;
}

/* (en) IE-Clearing:Only used in Internet Explorer, switched on in iehacks.css */
#ie_clearing {
	display: none;
}

/* (en) clear space colum */
.clear {
	clear: both;
}
}

* {
	margin: 0 auto;
	padding: 0;
}
a {
	text-decoration: none
}
/* Content */
body {
	background-color: #ececec;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

#page {
	width: 100%;
	text-align: center;
}

#sub_page {
	padding: 0;
	margin: 0 auto;
}

#top {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: #fff;
}

#top #sub_top {

	height: 65px;
	padding: 10px;
	width: 1024px;
	text-align: center;
	margin: 0 auto;
}

#top #logo {
	float: left;
	margin-top: 10px;
}

#top #main_menu {
	float: right;
	width: 550px;
}

#top #main_menu #main_menu_item, #top #main_menu #main_menu_item_active {
	float: left;
	margin: 0px 10px 0px 10px;
	padding-top: 14px;
	text-align: center;
	width: 100px;
	height: 33px;
}

#top #main_menu #main_menu_item a {
	color: #000;
}

#top #main_menu .active {
	background: url('../images/menu_active_bg.png') no-repeat center;
}

#top #main_menu #main_menu_item_active a {
	color: #fff;
}

#banner {
	width: 100%;
	background: url('../images/banner.png') no-repeat top left;
	height: 517px;
	overflow: hidden;
}

#banner #banner_description {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
}

#banner #banner_description #banner_content {
	color: #fff;
	font-size: 60px;
}

#banner #banner_description #banner_button {

}

#banner #banner_description #banner_button a {
	color: #fff;
	background: url('../images/banner_button.png') no-repeat center;
	height: 70px;
	width: 286px;
	display: block;
	padding-top: 30px;
	font-size: 30px;
	margin: 0 auto;
}

/*-------------------Places grid-----------------*/
#places_grid {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}

#places_grid #sub_places_grid {
	width: 377px;
	background-color: #fff;
	height: 226px;
	margin: 0 auto;
	margin-top: -120px;
	padding: 10px 25px 10px 47px;
}

#places_grid #sub_places_grid #sub_places_grid_1 {
	overflow-y: scroll;
	height: 156px;
}

#places_grid #sub_places_grid .title {
	font-size: 25px;
	color: #bcbcbc;
	padding: 18px 0px 22px 0px;
}

#places_grid #sub_places_grid #sub_places_grid_1 #title {
	font-size: 13px;
	color: #bcbcbc;
}

#places_grid #green_ground_bt {
	width: 451px;
	background-color: #51c03d;
	height: 5px;
	margin: 0 auto;
}

#places_grid #sub_places_grid .places_item {
	float: left;
	width: 80px;
	padding-right: 10px;
	padding-bottom: 20px;
}

#center {
	width: 1024px;
	text-align: center;
	margin: 0 auto;
}

#center .sub_content {
	font-size: 29px;
	color: #7e7c7c;
	padding-top: 70px;
}

#center .button_list
{
	padding-top:57px;
}
#center .button_list .btn_item
{
	float:left;
	padding: 0px 47px 0px 67px;
}

#center .button_list .btn_item a
{
	color:#878585;
}
#center .button_list .btn_item .title
{
	padding-top:20px;
}

/**************footer**********/
#footer
{
	background-color: #414141;
	height:35px;
	margin-top:40px;
	color:#fff;
	padding-top:10px;
}